<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD DOCUMENT</title>
    <link rel="stylesheet" href="/css/layouts.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="banner">
            <div class="menu-block">
                <div class="banner-left">
                    <div class="banner-title"><p>Cẩm Nang Tuyển Sinh</p></div>
                    <div class="banner-admin"><p>Administrator</p></div>
                </div>
            </div>
            <div class="banner-right">

            </div>
        </div>
        <div class="half-wrap">
            <div class="side-left">
                <div class="side-left-title home">
                    <div class="side-img">
                        <img src="img/icons/user.png" alt="admin" class="img-admin">
                    </div>
                    <div class="tooltip">
                        <span class="tooltiptext">Hello, Administrator!</span>
                    </div>
                </div>
                <a href="welcome.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/home.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Trang Chủ</span>
                    </div>
                </a>
                <a href="manage-user.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/member-card.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Quản lý thành viên</span>
                    </div>
                </a>
                <a href="manage-document.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/file-management.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Quản lí kho tài liệu</span>
                    </div>
                </a>
                <a href="add-document.html" class="side-list home active-item">
                    <div class="home-img"><img src="img/icons/add-file.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Thêm tài liệu mới</span>
                    </div>
                </a>
                <a href="add-text.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/add.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Thêm văn bản mới</span>
                    </div>
                </a>
                <a href="message.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/email.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Hộp thư</span>
                    </div>
                </a>
                <a href="banner-ad.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/ads.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Banner quảng cáo</span>
                    </div>
                </a>
                <a href="feedback.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/rating.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Cảm nhận khách hàng</span>
                    </div>
                </a>
                <a href="web-setting.html" class="side-list home">
                    <div class="home-img"><img src="img/icons/settings.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Thiết lập website</span>
                    </div>
                </a>
            </div>
            <div class="side-right">
                <div class="wrap-form">
                    <div class="form-sum">
                        <p class="form-title">Thêm tài liệu mới</p>
                    </div>
                    <div class="wrapper-welcome">
                        <div class="form-inline overlay">
                        <form action="" method="POST">
                            <div class="form-element">
                                <div><p>Chọn môn học:</p></div>
                                <div>
                                    <select id="subject">
                                        <option value="none">...</option>
                                        <option value="math">Toán</option>
                                        <option value="literature">Ngữ Văn</option>
                                        <option value="chemistry"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element">
                                <p>Mô tả:</p>
                                <input class="form-input form-des" type="text">
                            </div>
                            <div class="form-element">
                                <div><p>Upload tài liệu</p></div>
                                <div><input type="file"></div>
                            </div>
                            <div class="form-button">
                                <input class="submit-button" type="submit" value="Lưu">
                                <input class="submit-button" type="submit" value="Hủy">
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>