<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FEEDBACK</title>
    <link rel="stylesheet" href="/css/layouts.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrap">
        <div class="banner">
            <div class="menu-block">
                <div class="banner-left">
                    <div class="banner-title"><p>Cẩm Nang Tuyển Sinh</p></div>
                    <div class="banner-admin"><p>Administrator</p></div>
                </div>
            </div>
            <div class="banner-right">

            </div>
        </div>
        <div class="half-wrap">
            <div class="side-left">
                <div class="side-left-title home">
                    <div class="side-img">
                        <img src="../img/icons/user.png" alt="admin" class="img-admin">
                    </div>
                    <div class="tooltip">
                        <span class="tooltiptext">Hello, Administrator!</span>
                    </div>
                </div>
                <a href="/" class="side-list home">
                    <div class="home-img"><img src="../img/icons/home.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Trang Chủ</span>
                    </div>
                </a>
                <a href="./member" class="side-list home">
                    <div class="home-img"><img src="../img/icons/member-card.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Quản lý thành viên</span>
                    </div>
                </a>
                <a href="./inventory" class="side-list home">
                    <div class="home-img"><img src="../img/icons/file-management.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Quản lí kho tài liệu</span>
                    </div>
                </a>
                <a href="./add-new-course" class="side-list home">
                    <div class="home-img"><img src="../img/icons/add-file.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Thêm tài liệu mới</span>
                    </div>
                </a>
                <a href="./add-new-document" class="side-list home">
                    <div class="home-img"><img src="../img/icons/add.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Thêm văn bản mới</span>
                    </div>
                </a>
                <a href="http://mail.google.com" class="side-list home">
                    <div class="home-img"><img src="../img/icons/email.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Hộp thư</span>
                    </div>
                </a>
                <a href="./adv" class="side-list home">
                    <div class="home-img"><img src="../img/icons/ads.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Banner quảng cáo</span>
                    </div>
                </a>
                <a href="./feedback" class="side-list home active-item">
                    <div class="home-img"><img src="../img/icons/rating.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Cảm nhận khách hàng</span>
                    </div>
                </a>
                <a href="./settings" class="side-list home">
                    <div class="home-img"><img src="../img/icons/settings.svg" alt=""></div>
                    <div class="tooltip">
                        <span class="tooltiptext">Thiết lập website</span>
                    </div>
                </a>
            </div>
            <div class="side-right">
                <div class="wrap-form">
                    <div class="form-sum">
                        <p class="form-title">Thêm tài liệu mới</p>
                    </div>
                    <div class="wrapper-welcome">
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>