<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="display: flex; width: 100%; justify-content: center; border: 1px solid skyblue">Thành công</h1>
    <a style="display: flex; width: 100%; justify-content: center;" href="/admin/add-new-course">Quay lại</a>
</body>
</html>