*{
  margin: 0;
  padding: 0;
  //color: whitesmoke;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body{
  background: #4E657A;
}

.wrap{
  padding: 0 2rem;
}

header{
  background: #435C70;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  &__logo{

  }
  &__features{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    &__item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 70px;
      margin: 0 .5rem;
      text-decoration: none;
    }
    &__name{
      font-size: 13px;
      font-weight: 400;
      color: white;
    }
  }
}

.active-page{
  background: #368ec8;
}

.wrap-body{
  display: flex;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  height: calc(100vh - 70px);
  &__left{
    width: 70%;
    background: #435C70;
    .listOfacc{
      font-size: 18px;
      height: calc(100% - 2rem);
      box-sizing: border-box;
      &__title{
        background: #567086;
      }
      &__content{
        background: #4E657A;
        height: 100%;
        overflow-y: scroll;
      }
    }
  }
  &__right {
    width: 30%;
    background: #435C70;
    margin-left: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formButton{
      padding: .5rem;
      border-radius: 5px;
      background: #368ec8;
      border: #4E657A;
      cursor: pointer;
    }
  }
}

.icon{
  width: 30px;
  height: 30px;
}


::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

::placeholder{
  color: whitesmoke;
  opacity: 0.5;
}
.wrap2{
  padding: 2rem;
}

.layout{
  display: flex;
  width: 100%;
  &__item_h{
    width: 20%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  &__item{
    width: 20%;
    text-align: center;
    font-size: 13px;
    &__btn{
      outline: none;
      border: 1px solid white;
      padding: 2px 5px;
      cursor: pointer;
      &--red{
        background: #7c57d9;
      }
      &--blue{
        background: #067dac;
      }
    }
  }
}

.wrap3{
  padding: .5rem 0;

}
.layout2{

}

.wrap4{
  padding: 5rem;
}

.layout3{
  display: flex;
  flex-direction: column;
  outline: none;
}

.wrap5{
  padding-bottom: 1rem;
}

.layout4{
  background: #567086;
  border-radius: 5px;
  padding: .5rem;
  border: #1f61b8;
  outline: none;
}

.wrap6{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.block-mini{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .mini-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__corner{
      width: 55px;
      height: 45px;
    }
  }
}
